In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "name": ["Bob", "Ben", "Mary", "John"],
    "ch": [90, 80, 85, 70],
    "en": [91, 81, 86, 71],
    "ma": [92, 82, 87, 72], })
df['totle'] = df.sum(axis=1)

In [3]:
df = df.sort_values('totle', ascending=False)
df = df.reset_index(drop=True)

In [4]:
df.to_csv('tmp.csv', index=False)
print(pd.read_csv('tmp.csv'))

   name  ch  en  ma  totle
0   Bob  90  91  92    273
1  Mary  85  86  87    258
2   Ben  80  81  82    243
3  John  70  71  72    213